@page
@model first.Pages.Third_taskModel
@{
}
<div class="text-center">
    <div class="h3">Вино и мясо</div>
    <img src="images/1581103502_9-p-intereri-dorogikh-restoranov-11.jpg" alt="res photo" class="rounded mx-auto d-block"></img>
    <div class="row">
        <div class="col">
            <div class="h4">Диапазон цен</div>
            <div>300 руб - 2 500 руб</div>
        </div>
        <div class="col">
            <div class="h4">Тип кухни</div>
            <div>Стейк-хаус, Европейская</div>
        </div>
        <div class="col">
            <div class="h4">Специализированное меню</div>
            <div>Подходит для вегетарианцев, Безглютеновые блюда</div>
        </div>
    </div>
</div>