@page
@model lesson_2.Pages.AuthorsTableModel
@{
}
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>День рождения</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Model.Authors)
            {
                <tr>
                    <td>@author.FirstName</td>
                    <td>@author.LastName</td>
                    <td>@author.BirthDate.Value.ToShortDateString()</td>
                    <td>
                        <form method="post">
                            <button type="submit" asp-page-handler="delete" asp-route-id="@author.Id" class="btn btn-danger">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>